.header {
    padding: 1.5rem 2rem;
    height: 100vh;
    background-image: url("/Header_bg_mobile.JPG");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-width: 600px) {
    .header {
        background-position-y: -5rem;
    }
}